In [1]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd


Metacritic = "https://www.metacritic.com/game/playstation-4/the-last-of-us-remastered/user-reviews?page=1"

user_agent = {'User-agent': 'Mozilla/5.0'}

session = requests.Session()
response = requests.get(Metacritic, headers=user_agent)

In [7]:
bs = BeautifulSoup(response.text, 'html.parser')
review_dict = {'name':[], 'date':[], 'rating':[], 'review':[]}

rows = bs.find_all('div', class_='review_content')

for review in rows:
    
    review_dict['date'].append(review.find('div', class_='date').text)
    review_dict['rating'].append(review.find('div', class_='review_grade').text)

    #Criado um exception para as avaliações sem nome
    try:
        review_dict['name'].append(review.find('div', class_='name').find('a').text)
    except:
        review_dict['name'].append(review_dict['name'].append(None))


    if review.find('span', class_='blurb blurb_expanded'):
        review_dict['review'].append(review.find('span', class_='blurb blurb_expanded').text)
        # print(review.find('span', class_='blurb blurb_expanded').text)
        # print("--------------------------")
    else:
        review_dict['review'].append(review.find('div', class_='review_body').find('span', class_='blurb blurb_expanded'))
        # print(review.find('div', class_='review_body').find('span', class_='blurb blurb_expanded'))
        # print("--------------------------")

TypeError: 'NoneType' object is not callable

In [5]:
sword_reviews = pd.DataFrame.from_dict(review_dict, orient='index')
sword_reviews = sword_reviews.transpose()

In [6]:
sword_reviews

,name,date,rating,review
0,Artur95,"Aug 10, 2014",\n10\n,None
1,Avodeskorm,"Aug 4, 2014",\n10\n,Story- Overrated\rGameplay- Underrated\r Not t...
2,steveo481,"Aug 5, 2014",\n10\n,"Wow, I'm only part of the way into this story ..."
3,sunr1sE,"Aug 9, 2014",\n10\n,Simply the best game I've ever played. I was w...
4,Lucas10,"Jul 30, 2014",\n10\n,None
...,...,...,...,...
101,None,"Oct 22, 2014",\n80\n,None
102,None,"Oct 13, 2014",\n100\n,None
103,None,None,None,None
104,None,None,None,None
105,None,None,None,None

In [4]:
sword_reviews.count()

name      100
date      103
rating    103
review     45
dtype: int64